<h1>Novo Aluno</h1>

<form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">


      <label>Nome</label>
      <input pInputText type="text" [(ngModel)]="aluno.nome" name="nome" ngModel #nome="ngModel" required minlength="5">

      <label>Endereço</label>
      <input pInputText type="text" name="endereco" [(ngModel)]="aluno.endereco" ngModel #endereco="ngModel">

      <label>Email</label>
      <input pInputText type="text" name="email" [(ngModel)]="aluno.email" ngModel #email="ngModel">

      <label>Telefone</label>
      <input pInputText type="text" name="telefone" [(ngModel)]="aluno.telefone" ngModel #telefone="ngModel">


  <div class="ui-g-12">
    <button pButton icon="fa fa-check" type="submit" label="Salvar"></button>

    <a routerLink="/alunos" icon="fa fa-arrow-circle-right"  pButton label="Voltar para a pesquisa" class="ui-button-warning"></a>
  </div>

</form>
